div#chat {
    height:  250px;
    overflow: auto;
}

div.message {
    background-color: darkgrey ;
    height: auto;
    min-height: 40px;
    padding: 10px;
    margin: 3px;
}

span.right_float {
    float: right;
}


/** overrides **/

.ui-widget {
    font-size: 12px;
}

.ui-tabs {
    padding: 0;
}

.ui-tabs .ui-tabs-panel {
    padding: 1px;
}