<html>
<head>
    <title>Banned List</title>

    <link href="/static/jquery-ui/css/ui-lightness/jquery-ui-1.10.2.custom.min.css" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">

    <script type="text/javascript">

    </script>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/tinymce/jscripts/tiny_mce/jquery.tinymce.js"></script>
    <script type="text/javascript" src="/static/jquery-ui/js/jquery-ui-1.10.2.custom.min.js"></script>
    <script type="text/javascript" src="/static/jquery-ui/js/jquery.ui.effect.js"></script>
    <script type="text/javascript" src="/static/jquery-ui/js/jquery.ui.effect-pulsate.js"></script>


    <script src="/static/functions.js"></script>
    <script src="/static/tinymce.js"></script>
    <script src="/static/main.js"></script>


</head>
<body>

{% if len(bans) > 0 %}
    {% for user in bans %}
        {{ user[1] }} - <a href="/bans?rm={{ user[1] }}&csrf_token={{ token }}">[-]</a>
    {% end %}
{% else %}
    No banned users yet!
{% end %}

</body>
</html>