<html>
<head>
    <title>Tornado Chat Demo</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var ws = new WebSocket("ws://{{ host }}/socket");
            ws.onmessage = function (event) {
                var data = eval('(' + event.data + ')');
                $('textarea#chat').append(data.user + ': ' + data.value + '\n');
            }
            $('textarea#chat').append('Connection established \n');

        });

        function postMessage() {
            var data = $("#name").val() + ": " + $("#message").val()

            $.ajax({
                url: 'http://{{ host }}/push',
                data: {
                    data: data
                },
                success: function (re) {
                    //console.log("Data pushed");
                    $("#message").val('')
                }
            });
        }

    </script>

</head>
<body>
<h1>Chat Area</h1>
<textarea id="chat" cols="100" rows="20"></textarea><br/>


<strong>Name:</strong>
<input type="text" id="name"/>

<strong>Message:</strong>
<input type="text" id="message"/>
<input type="submit" onclick="postMessage()" value="SEND"/>

</body>
</html>